
#cabecera {
            background-color:white;
            width: 1100px;
            height: 50px;
            margin: 0 auto;
}
#cabecera1 {
            background-color: white;
            width: 600px;
            height: 50px;
            margin: 0 auto;
            margin-bottom: 200px;           
}
#principal {
            display: flex;   
            flex-direction: column;
            background-color:rgb(245, 242, 230);
            width: 1060px;
            margin: 0 auto; 
            padding: 20px;            
}
h1 {
            color: black;
            text-align: center;
            padding-top: 2px;
            padding-bottom: 50px;                     
}
#hijoa {
            display: flex;   
            flex-direction: column;
            width: 500px;
            height: 500px;
            margin: auto;   
            background-color: white;          
}               
#hijob {    display: flex;   
            flex-direction: column;
            width: 500px;
            height: 500px;
            margin: auto;   
            background-color: white;   
            margin-top: 33px;    
}
#hijoc {     display: flex;   
            flex-direction: column;
            width: 500px;
            height: 500px;
            margin: auto;   
            background-color: white;   
                    margin-top: 33px;                       
}
#hijod {    display: flex;   
            flex-direction: column;
            background-color: white;
            width: 500px;
            height: 500px;
            margin: 20px auto;                    
}
#a1 {
            display: flex;   
            flex-direction: row-reverse;
            width: 450px;
            height: 70px;
            margin: 0 auto;   
}
#corregir img {    
            position: absolute;
            width: 480px;
            height: 350px; 
            margin: auto;
}
#corregir2{
            width: 480px;
            height: 350px; 
            margin: auto;
            align-items: center;
}
#corregir2 img {    
            position: absolute;
            /* right:596px;
            bottom:165px; */
                width: 480px;
            height: 350px; 
            margin: auto;
}

#corregir3{
            width: 480px;
            height: 350px; 
            margin: auto;
            align-items: center;
}
#corregir3 img {    
            position: absolute;
            /* right:596px;
            bottom:165px; */
                width: 480px;
            height: 350px; 
            margin: auto;
}

#corregir4{
     width: 480px;
            height: 350px; 
            margin: auto;
            align-items: center;
}
#corregir4 img {    
            position: absolute;
            /* right:596px;
            bottom:165px; */
                width: 480px;
            height: 350px; 
            margin: auto;
}
#a3 {
            width: 450px;   
            height: 60px; 
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            text-align: left;   
            margin: auto;  
}     
#a11 {
            background-color:white;
            width: 180px;
            height: 30px;
            margin-left: 100px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            padding-top: 15px; 
            text-align: right;                                  
}
#a12 {
            background-color: white;
            width: 500px;
            height: 30px;    
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 21px;
            padding-top: 15px; 
}
#b1 {
           display: flex;   
            flex-direction: row-reverse;
            width: 450px;
            height: 70px;
            margin: 0 auto;                                                       
}
#b2 {
            background-color: white;
            width: 450px;
            height: 350px;
            margin: 0 auto;                   
}
#b2 img {    
            position: absolute;
            right:596px;
            top:810px;
}
#b3 {
           width: 450px;   
            height: 60px; 
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            text-align: left;   
            margin: auto;     
}     
#b11 {
             background-color:white;
            width: 180px;
            height: 30px;
            margin-left: 100px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            padding-top: 15px; 
            text-align: right;                                      
}
#b12 {
            background-color: white;
            width: 500px;
            height: 70px;   
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 21px;
            padding-top: 15px; 
}   
#c1 {
            display: flex;   
            flex-direction: row-reverse;
            width: 450px;
            height: 70px;
            margin: 0 auto;                                                         
}
#c2 {
            background-color: white;
            width: 450px;
            height: 350px;
            margin: 0 auto;                   
}
#c2 img{    
            position: absolute;
            right:596px;
            top:1350px;
}
#c3 {
           width: 450px;   
            height: 60px; 
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            text-align: left;   
            margin: auto;  
}     
#c11 {
             background-color:white;
            width: 180px;
            height: 30px;
            margin-left: 100px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            padding-top: 15px; 
            text-align: right;                                  
}
#c12 {
            background-color: white;
            width: 500px;
            height: 70px;  
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 21px;
            padding-top: 15px;
}

#d1 {
            display: flex;   
            flex-direction: row-reverse;
            width: 450px;
            height: 70px;
            margin: 0 auto;                                                         
}
#d2 {
            background-color: white;
            width: 450px;
            height: 350px;
            margin: 0 auto;                   
}
#d2 img{    
            position: absolute;
            right:596px;
            top:1880px;
}
#d3 {
            width: 450px;   
            height: 60px; 
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            text-align: left;   
            margin: auto;    
}     
#d11 {
            background-color: white;
            width: 180px;
            height: 70px;
            margin-left: 100px;   
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            padding-top: 15px; 
            text-align: right;                               
}
#d12 {
            background-color: white;
            width: 500px;
            height: 70px; 
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 21px;
            padding-top: 15px;    
}
#corregir{
    background-color: darkgreen;
                width: 480px;
            height: 350px; 
            margin: auto;
            align-items: center;

}
